* {
    box-sizing: border-box;
    color: black;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.button.alt {
    padding: 1rem 1rem;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-block-start: 1rem;
    display: inline-block;
    background-color: transparent;
    text-align: center;
    background-color:  #d4dbde;
    
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    
    cursor: pointer;
    transition: all 0.15s ease-in;
}


header {
    position: sticky;
    top: 0;
    background-color: #d4dbde; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo img {
    width: 200px;
}

.nav-list ul {
    list-style-type: none;
}

.nav-list ul li {
    display: inline;
    margin-left: 20px;
}

.nav-list ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-list ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 0px;
    /* display:flex; */
    gap: 1.5 rem;
}

.content {
    flex: 5;
    display: flex;
    flex-flow: column;
}

#bg {
    background-image: url("../images/background1.jpg");
    background-size: cover; /* atau contain, tergantung kebutuhan */
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#jumbotron {
    padding: 60px;
    /* background-color: orange; */
    text-align: center;
    color: aquamarine;
    flex: 1.2;
}

#jumbotron .action {
    display: flex;
    justify-content: center;
}

#jumbotron h1 {
    font-size: 70px; 
    line-height: 1.2; 
    margin: 20px 0;
    padding: 70px;
    color: white; 
}

#one {
    padding: 60px;
    background-color: rgba(110, 110, 49, 0.75);
    text-align: left;
    color: white;
    flex: 0.8;
}

.inner1 h2{
    color : white;
    font-size: 50px;
}
.inner1 p{
    color : white;
}

#one .action {
    display: flex;
    justify-content: left;
    padding: 0;
}

#two {
    padding: 60px;
    background-color: white;
    text-align: center;
    display: flex;
    /* /* flex-direction: column; */
    justify-content: center;
}

#two .inner {
    display: inline-flex;
    justify-content: space-around;
    max-width: 1200px;
    text-align: center;
    align-items: center;
    flex-wrap:nowrap;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 30px;
}
.image.fit img{
    width: 400px;
    height : 300px
}

#two .content p {
    max-width: 400px;
    margin: 20px auto;
    text-align: justify;
}
#three {
    padding: 60px;
    background-color: rgba(152, 152, 133, 0.75);
    text-align: left;
    color: aquamarine;
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
}

#three .inner {
    display: inline-flex;
    justify-content: space-around;
}

#three article {
    margin-right: 40px;
    
}
.content img {
    width: 400px;
    height: 300px;
    
}


#three .content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
}

footer {
    padding: 20px;
    background-color: #d4dbde;
    text-align: center;
    font-weight: bold;
}

main aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
}

main aside .social-media {
    height: 100%;
    display: flex;
}

main aside .social-media ul {
    padding : 1.5rem 1rem;
    margin: auto;
    background-color: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5 rem;
}

main aside .social-media li {
    list-style-type: none;
  }
   
  main aside .social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
   
    transition: all 0.1s ease-in-out;
  }
   
  main aside .social-media li a:hover {
    color: #89b0d9;
  }

  .social-media img {
    width: 50px;
    height: 50px;
  }








